.file {
  position: fixed;
  text-align: left;
  width: 100%;
  z-index: 6;
  background-color: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.baginfo {
  margin-top: 33px;
  font-family: monospace;
}

.metadata {
  padding-left: 20px;
  padding-top: 20px;
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: white;
}

.dragdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  background-color: #CAF0F8;
  text-align: center;
  line-height: 100vh;
  font-size: 50px;
  color: white;
}

.dragdrop.activated {
  background-color: #48CAE4;
}

.msgDefinition {
  cursor: help;
}

.topicsTable {
  width: 100%;
  max-height: 50vh;
  overflow-y: auto;

  tr:hover{
    background: #48CAE4;
  }
}